$color-primary: #00e857;
$color-secondary: #00cbff;
$color-dark-grey: #525252;
$color-light-grey: #868686;
$svg-blue: #483d8b;

$focus-border: 2px solid orange;

$form-width: 500px;
$form-width-tablet: 420px;
$form-width-phone: 310px;

$breakpoint-tablet: 745px;
$breakpoint-phone: 540px;
