.form {
  width: $form-width;
  margin: 0 auto;
}

.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-column {
  width: 50%;
  float: left;
}

.right-column {
  width: 50%;
  float: right;
}
